@font-face {
    font-family: "main";
    src: url("assets/fonts/Neucha-Regular.ttf");
}

html {
    font-size: 14px;
    background-color: #04080a;
    overflow-x: hidden;
}

body::-webkit-scrollbar {
    width: 12px;
}

body::-webkit-scrollbar-track {
    background: transparent;
}

body::-webkit-scrollbar-thumb {
    background-color: #163b1f;
    border-radius: 20px;
    border: 3px solid #163b1f;
}

header {
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    overflow: hidden;
}

.bg {
    animation: zoomBack 5s ease-out;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: -1;
    height: 100vh;
    object-fit: cover;
    transform: scale(1);
    overflow: hidden;
}

@keyframes zoomBack {
    0% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}

.top {
    flex-basis: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.team {
    color: white;
    padding: 0 10vh;
    font-size: 2rem;
    font-family: "main", cursive;
    text-decoration: none;
}

.title {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

header h1 {
    color: white;
    font-family: "main", sans-serif;
    letter-spacing: 0.3rem;
    font-size: 4rem;
    text-shadow: 0 0 1rem black;
    padding-right: 20vw;
}

header h4 {
    color: white;
    font-family: "main", sans-serif;
    position: relative;
    top: -1rem;
    left: 6rem;
    font-size: 1.5rem;
}

main {
    min-height: 100vh;
    color: white;
}

.subTitle {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "main", cursive;
    gap: 2rem;
}

.subTitle h1 {
    font-size: 3rem;
}

.subTitle p {
    font-size: 1.5rem;
    text-wrap: wrap;
    text-align: center;
}

.tiles {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 7rem 5rem;
    gap: 3rem;
    font-family: "main", cursive;
    box-shadow: inset 0 0 rgba(0, 0, 0, 0.5);
}


.tiles .item {
    display: flex;
    gap: 1rem;
    background-color: #163b1f;
    padding: 2rem;
    border-radius: 1rem;
    background-position: center;
}

.tiles img {
    width: 30%;
    object-fit: contain;
    border-radius: 15px;
}

.tiles .item h3 {
    font-size: 2rem;
}

.tiles .item .textBar {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.tiles .button {
    background-color: black;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 999999px;
    width: fit-content;
}

.tiles .water {
    background-image: url("assets/backgrounds/водний_містичний_фон.png");
}
.tiles .village {
    background-image: url("assets/backgrounds/сільський_містичний_фон.png");
}
.tiles .field {
    background-image: url("assets/backgrounds/польові.jpg");
}
.tiles .forest {
    background-image: url("assets/backgrounds/лісовий_містичний_фон.png");
}

footer {
    height: 30vh;
    background-image: url("../assets/backgrounds/ліс2.png");
    background-size: cover;
    display: flex;
    justify-content: center;
    color: white;
    align-items: center;
    gap: 5rem;
    font-size: 2rem;
    font-family: "main", cursive;
}

footer img {
    height: 20vh;
}

@media only screen and (max-width: 767px) {
    /* CSS стилі для мобільних пристроїв */
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    /* CSS стилі для планшетів */
}

@media only screen and (min-width: 1025px) {
    /* CSS стилі для ноутбуків та десктопів */
}


/* search bar */

header .searchBar {
    font-family: "main", sans-serif;
    position: relative;
}

header .searchBar input {
    padding: 0.5rem 2rem;
    border-radius: 5rem;
    border: none;
    margin-right: 1rem;
    width: 30vw;
    background-color: rgba(255, 255, 255, 0.8);
}
header .searchBar input:focus {
    outline: none;
}

header .searchBar .searchBtn {
    font-size: 1.5rem;
    transition: text-shadow 0.5s;
}

header .searchBar .searchBtn:hover {
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
}

header .searchList {
    display: none;
    position: absolute;
    margin-top: 3px;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 1rem;
    padding: 0.5rem 2rem;
    color: black;
    width: 30vw;
    flex-direction: column;
}

header .searchList a {
    text-decoration: none;
    color: black;
}

header .searchList hr {
    border: none;
    border-bottom: 1px solid black;
    padding: 0;
    margin: 0.2rem 0;
}

/* end search bar*/