@font-face {
    font-family: "main";
    src: url("../assets/fonts/Neucha-Regular.ttf");
}

html {
    font-size: 14px;
    background-color: #04080a;
    overflow-x: hidden;
}

body::-webkit-scrollbar {
    width: 12px;
}

body::-webkit-scrollbar-track {
    background: transparent;
}

body::-webkit-scrollbar-thumb {
    background-color: rgb(138, 138, 24);
    border-radius: 20px;
    border: 3px solid rgb(138, 138, 24);
}

header {
    position: relative;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    overflow: hidden;
}

.bg {
    animation: zoomBack 5s ease-out;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    z-index: -1;
    height: 100vh;
    object-fit: cover;
    transform: scale(1);
    overflow: hidden;
}

@keyframes zoomBack {
    0% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}

.top {
    flex-basis: 10vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

.team {
    color: white;
    padding: 0 10vh;
    font-size: 2rem;
    font-family: "main", cursive;
    text-decoration: none;
}

.title {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

header h1 {
    color: white;
    font-family: "main", sans-serif;
    letter-spacing: 0.3rem;
    font-size: 4rem;
    text-shadow: 0 0 1rem black;
    padding-right: 20vw;
}

header h4 {
    color: white;
    font-family: "main", sans-serif;
    position: relative;
    top: -1rem;
    left: 6rem;
    font-size: 1.5rem;
}

main {
    min-height: 100vh;
    color: white;
}

.subTitle {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "main", cursive;
    gap: 2rem;
}

.subTitle h1 {
    font-size: 3rem;
}

.subTitle p {
    font-size: 1.5rem;
    text-wrap: wrap;
    text-align: center;
}

.tiles {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    margin: 3rem;
}

.item {
    background-color: #163b1f60;
    flex-direction: column;
    padding: 2rem;
    border-radius: 1.5rem;
    display: flex;
    gap: 3rem;
    opacity: 0;
}

.item img {
    border-radius: 1rem;
}

.item .textBar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
}

footer {
    height: 30vh;
    background-image: url("../assets/backgrounds/ліс2.png");
    background-size: cover;
    display: flex;
    justify-content: center;
    color: white;
    align-items: center;
    gap: 5rem;
    font-size: 2rem;
    font-family: "main", cursive;
}

footer img {
    height: 20vh;
}

